body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nanumPenScript {
    font-family: 'Nanum Pen Script';
}

.modak {
    font-family: 'Modak';
}

.noteWorthy {
    font-family: 'Noteworthy';
}

.customBrown {
    color:  #CB925D;
}

.customYellow {
    color: #F3C049;
}

.customGreen {
    color: #AACA69;
}

.headerBackground {
    background-image: url('https://raw.githubusercontent.com/Delucx/Collab/2824d4ba504844bf6c54275be343046696bbdf21/assets/homeBackground.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.caption {
    margin: 0%;
    font-size: 74px;
    color: #AACA69;
    filter: drop-shadow(2px 2px 2px #808080);
    text-shadow: black 1px 1px 3px;
    line-height: 50px;

}


.quote {
    margin: 0%;
    font-size: 84px;
    color: #F3C049;
    filter: drop-shadow(2px 2px 2px #808080);
    text-shadow: black 1px 1px 3px;
}

.homeParagraph {
    margin-right: 3em;
    font-size: 26px;
    color: #000000;
}

.homeButton {
    background-color: #CB925D;
    color: #ffffff;
    border: none;
    padding: 5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    cursor: pointer;
    border-radius: 24px;
    box-shadow: #0000003b 0px 4px 4px 0px;
}

.customMargin1 {
    margin: 6em 0em 6em 6em;
}

.customMargin2 {
    margin: 6em 0em 0em 6em;
}

.customMargin3 {
    margin: 0em 6em 0em 0em;
}


.monthlyMango1 {
    color: #CB925D;
    font-size: 120px;
    line-height: 0;
}

.monthlyMango2 {
    color: #F3C049;
    font-size: 120px;
    line-height: 150px;
}

.surveyP {
    font-size: 18px;
    color: #000000;
    line-height: 0;
}

.surveyBackground {
    background-color: #FBF7EE;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.footerBackground {
    background-color: #CB925D;
    width: 100%; 
}

.navBottom {
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
}

@font-face {
    font-family: 'Noteworthy';
    src: local('font\Noteworthy-Lt.woff'), url('https://github.com/Delucx/Collab/blob/main/font/Noteworthy-Lt.woff'), format('woff');
}

.contactText {
    display: contents;
    font-size: 18px;
}

.footerText {
    display: contents;
    color: #6D6D6D;
    text-align: center;
    margin-top: 2em;
}